<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buy a book</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  </head>

  <body>

		<section class="hero is-link is-fullheight">
			<div class="hero-body is-centered">
				<div class="container">
					<div class="columns is-centered is-vcentered">
						
						<div class="column is-6">
							<p class="title is-size-1">Just a book</p>
							<p class="subtitle is-size-4">You can now read this book just for ₹500</p>

							<button class="button is-link is-light is-medium"id="rzp-button1">Get the book</button>
						</div>
					
						<div class="column is-5">
							<figure class="image">
								
								<img src="https://www.google.com/search?q=currency+images+of+india&tbm=isch&chips=q:currency+images+of+india,g_1:all:7yCVo6B_QHA%3D,online_chips:banknotes:fnlaF2zGzcY%3D&bih=656&biw=1294&client=ubuntu&hs=VD2&hl=en-GB&sa=X&ved=2ahUKEwjy8_q6rN72AhV4FLcAHe0tB6EQ4lYoAnoECAEQIw" 
								style="border-radius: 10px" alt="">

							</figure>
						</div>

					</div>
				</div>
			</div>
	</section>
	<script>
     axios.post('/order').then((info)=>{
		var options = {
    "key": "rzp_test_2AFIuNyf4f3zOX",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://www.google.com/search?q=currency+images+of+india&tbm=isch&chips=q:currency+images+of+india,g_1:all:7yCVo6B_QHA%3D,online_chips:banknotes:fnlaF2zGzcY%3D&bih=656&biw=1294&client=ubuntu&hs=VD2&hl=en-GB&sa=X&ved=2ahUKEwjy8_q6rN72AhV4FLcAHe0tB6EQ4lYoAnoECAEQIw",
    "order_id": info.data.id,
	"callback_url":"/is-order-complete",
    "theme": {
        "color": "#3399cc"
    }
  };   
  
        var rzp1 = new Razorpay(options)
		document.getElementById('rzp-button1').onclick = function(e){
			  rzp1.open();
		}
	 })
	</script>

  </body>

</html>